<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body onload="initViz();">
  <div id="topheader">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><b>GAT Gate</b></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/public/welcome">Home</a></li>
          <li><a routerLink="public/dashboard">Monitoreo del Proyecto</a></li>
          <li><a routerLink="public/kumu">Relaciones del proyecto</a></li>
        </ul>

        <!--<button class="btn btn-danger navbar-btn">{{this.UsuarioBoton}}</button>-->

        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <li id="login_out"  ><a routerLink={{link}}  ><span class="glyphicon glyphicon-log-in" ></span> {{texto}}</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <script>
    $('#topheader .navbar-nav a').on('click',
      function () {
        $('#topheader .navbar-nav').find('li.focus')
          .removeClass('focus');
        $(this).parent('li').addClass('focus');
      });
  </script>

</body>

</html>
