<div class="contenedor-imagenes">

    <img src="assets/img/descarga.jpg">
    <img src="assets/img/remedios-naturales.jpg">
    <img src="assets/img/essential-oils-3456303.jpg">

</div>

<div clas="page-centered">
<div class = "title">
<h1> <b>¿Qué encuentras en GAT Gate?</b></h1>
</div>

<div class="options">
    <div class="col">
        <img src="assets/img/kumo-logo-img.png" style="width:100px;height:100px" class="center" >
        <h3><strong>Mapas de Gobernabilidad Kumu</strong></h3>
        <h4>Kumu es una plataforma web cuya especialidad es el mapeo de
            las relaciones, aqui podrás encontrar mapas interactivos y dinámicos para mostrar de forma fácil y clara las relaciones entre
            interesados, sistemas, comunidades, proyectos, plantas, entre otros. Actualmente es utilizada por
            el proyecto de fortalecimiento institucional de GAT para la visualización del gobierno corporativo y la estructura
            interna del ecosistema tanto para personal, como para proyectos e incluso para el mapeo de
            objetivos y tareas</h4>

            <button type="button"
            class="btn btn-lg btn-success"
            data-mdb-toggle="popover"
            title="Popover title" routerLink="/public/kumu">Ver Kumu</button>

    </div>
    <div class="col">
        <img src="assets/img/dashboard-img.png" style="width:100px;height:100px" class="center" >
        <h3><strong>Monitoreo Global del Proyecto</strong></h3>
        <h4>El Dashboards principal del GAT Gate es una herramienta para el monitoreo del estado actual del proyecto GAT,
            esto es un mecanismo visual para la representación de información de una manera amigable con el
            usuario. La información que se presenta es variada y está relacionada a datos sobre actividades diarias, porcentajes de avances
            de objetivos, estadísticas sobre procesos o resultados, entre otras.
            Estos datos se obtienen a través de diferentes repositorios que guardan esta información, por ejemplo, OSF.</h4>

            <button
            type="button"
            class="btn btn-lg btn-success"
            data-mdb-toggle="popover"
            title="Popover title"
            routerLink="/public/dashboard">Ver Dashboards
          </button>

    </div>
    <div class="col">
        <img src="assets/img/member-img.png" style="width:100px;height:100px" class="center" >
        <h3><strong>¿Eres miembro de GAT Gate?</strong></h3>
        <h4>Si eres miembro activo de GAT o estas relacionado con este proyecto tienes la posibilidad de conocer de forma detallada
            la información de los
            indicadores presentados en el tablero de monitoreo global del proyecto. Inicia sesión dando click en el botón que aparece abajo o
            a través de la barra de navegación usando las credenciales asignadas, si aún no las tienes, solicítalas con el director del
            proyecto al que perteneces.</h4>

            <button
            type="button"
            class="btn btn-lg btn-success"
            data-mdb-toggle="popover"
            title="Popover title"
            routerLink="/public/login">Iniciar Sesión
          </button>

    </div>
</div>

<!--<app-footer></app-footer>-->
