<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="./dashboard.component.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <h2> Monitoreo del Proyecto</h2>
  <p>
    Bienvenido a los dashboards de GAT Gate. Estos tableros de indicadore ofrecen información variada sobre
    el estado de los diferentes subproyectos del ecosistema GAT, e incluso de la totalidad del proyecto. Este
    es el dashboard principal que otorga la vision mas general, desde aqui puedes interactuar y descubrir otras
    secciones de monitoreo (ten en cuenta que necesitaras credenciales para acceder a algunos dashboards
    privados).
  </p>
  <div class="embed-container">
    <iframe
      src="https://app.powerbi.com/view?r=eyJrIjoiZDQwNTQ1MWItOTdhZi00ZDFjLTk0NjUtMzIwMDA4MDk2NDQ2IiwidCI6ImRhZjc5OTBlLThhM2YtNDA5Yy05Yjc2LTJhNTQ3NTA5ODAwMCIsImMiOjR9&pageName=ReportSectiondf6b2af510ec8631a1fa"
      width=auto height=auto></iframe>
  </div>
</body>

</html>
