<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./login.component.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="page-centered">
      <div class="logo">
          <p>GAT Gate</p>
      </div>
      <h1 class="login-h1">Para información detallada inicie sesión en GATGate</h1>
      <form >
          <div class="form-group">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" required class="form-control form-input"/>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required" required class="form-control form-input"/>
          </div>
        <div class="text-danger" *ngIf="!iscorrect">
          Contraseña Incorrecta!
        </div>
          <input type="submit" class="form-submit" value="Iniciar Sesión" (click)="login()">
      </form>
    </div>
  </body>
