.page-centered {
  width:50%;
  margin-left: 25%;
  margin-bottom: 15%;
  margin-top: 7.5%;
}

.login-h1 {
  font-weight: 100;
  font-size: 1.8em;
  font-weight: 100;
  line-height : 40px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.form-input {
  width:100%;
  margin-bottom: 10px;
  font-size: 0.95em;
  font-weight: 100;
  border-radius: 0px !important;
  padding: 10px 20px;
}
input, textarea, button, button:focus {
  outline: none;
  box-shadow:none !important;
}
.logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  background-color: #078507;
  margin-bottom: 30px;
}
.logo p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 2;
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(-1%,-50%);
  -ms-transform: translateX(-1%) translateY(-50%);
  -webkit-transform: translate(-1%,-50%);
  font-size: 1.5em;
  font-weight: 100;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.form-submit {
  background-color: #078507;
  border-color:#078507;
  font-weight: 100;
  font-size: 1em;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.forget-pwd-holder{
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
}

center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #006600;
  height:40px;
  overflow: hidden;
}
